/* RESETS */
@import url("reset.css");

/* IMPORTED FONTS */
@font-face {
  font-family: "Brown-Bold";
  src: local("Brown-Bold"), url("fonts/Brown-Bold.woff") format("woff2");
}

/* HOMEPAGE */
.home-header {
  position: absolute;
  margin: 10px;
}

.home-nav-links {
  color: #fff;
  font-family: Brown-Bold;
  margin: 10px;
  text-transform: lowercase;
}

.home-main {
  height: 100vh;
  background: #000;
}

.title{
  font-family: Brown-Bold;
  font-size: 150px;
  color: #fff;
  position: absolute;
  left: 3%;
  top: 20%;
  text-transform: lowercase;
  letter-spacing: 0;
}

/* NAV INDEX
.nav {
  height: 80px;
  width: 70px;
  padding-right: 10px;
  border-right: 6px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  left: 8px;
  top: 20px;
}

.nav a {
  line-height: 23.5px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Brown-Bold", Verdana;
  font-size: 14px;
  letter-spacing: 1px;
  color: #000;
}
*/

/* LOGO */
.logo {
  width: 350px;
  position: absolute;
  left: 10.5%;
  top: 5%;
}

.profession {
  width: 90px;
  position: absolute;
  left: 350px;
  top: 90px;
}
/* MAIN */
